body {
    font-family: 'Roboto Mono', Arial, sans-serif;
}

.container {
    -webkit-columns: 4 500px;
    -moz-columns: 4 500px;
    columns: 4 500px;
}

header {
    text-align: center;
}

footer {
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

table {
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
    width: 90%;
    color: #333;
    border-collapse: collapse;
    border-spacing: 0;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

td, th {
    border: 1px solid #CCC;
    height: 30px;
}

th {
    background: #F3F3F3;
    font-weight: bold;
}

td {
    background: #FAFAFA;
    font-size: 0.75em;
}

td:first-child {
    width: 70px;
}
