:root {
    --black: #2B2C27;
}

body {
    width: 297mm;
    height: 209mm;

}

@page {
    margin: 0.5cm;
}

header h3 {
    display: none;
}

header {
    text-align: center;
}

footer {
    display: none;
}

body {
    font-family: 'Roboto Mono', Arial, sans-serif;
    font-size: 0.9em;
}

.container {
    columns: 4 350px;
}

table {
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
}

td, th {
    border: 1px solid black;
    height: 25px;
}

th {
    font-weight: bold;
    background-color: #F8F8F0;
}

td {
    padding-left: 0.5em;
}

td:first-child {
    width: 60px;
}
